<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Kata edu</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Kata edu" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Kata edu" data-app />
  <meta property="og:title" name="og:title" content="Kata edu" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />

  <link rel="stylesheet" type="text/css" href="/css/swiper.css">
  <link rel="stylesheet" type="text/css" href="/css/font.css">
  
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  
<script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">

  <div class="topheader">
    <div class="grid">
      <div class="flex-container align-center">
          <div class="cell-1-5">
            <div class="logo">
              <a href="/">
                <img src="/uploaded/logo/logo.png" width="100px" alt="LogoSite" >
               
              </a>
          
            </div>
            
          </div>
          <div class="cell-3-5">
            <div class="icon-search" >
              <!-- <i class="fa fa-search search-icon" aria-hidden="true"></i> -->
               <div class="search-pc" style="">
                   <form action="/search/" method="get" id="searchformtab">
                       <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm ngành nghề, Kỹ năng hoặc mức lương" type="text">
                           <a href="#" class="submit-search-pc" onClick=""> 
                               <i class="fa fa-search" aria-hidden="true"></i> </a>
<!-- 
                           <a href="#" class="closeX" onClick="$('.search-pc').hide(); return false;">&#10005;</a>         -->
                   </form>
               </div>

               <script type="text/javascript">

                   $(".submit-search-pc").click(function(){
                     if ($("#qr_search").val() != "")
                       $('#searchformtab').submit(); return false;
                   
                   });

                   $(document).ready(function () {
                       $(".search-icon").click(function () {
                           $(".search-pc").stop().slideToggle("fast");
                           return false;
                       });
                   });
               </script>  	
             </div>
        </div>
        <div class="cell-1-5">
            <div class="header-hotline">
              <a href="#" class="hotline"> 0976 873 997</a> <br>
              Hotline 24/7
            </div>
        </div>
    </div>
  </div>
</div>
    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
    
      
      <div class="grid">
        
        <div class="flex-container flex-space-between align-center">
            
           <div class="cell-4-5">
            <div class="menubar">
                <ul class="nav  hide-on-mobile">
                <li class=" active "> <a href="/" class="">Trang chủ </a>

                </li>

                <li class=" "> <a href="/" class="">Giới thiệu </a>

                </li>
                
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class="">Khóa học </a>
                
                
                
               
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class="">Lịch khai giảng </a>                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class="">Đào tạo nội bộ </a>
                      
                    
                </li>
              
                <li class=" "> 
                  <a href="/lien-he/" class="">Tin tức </a> 
                  
                  <ul class="submnu1">
                    <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                    </li>
                    <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                    </li>
                </ul>
                </li>
                <li class=" "> 
                  <a href="/lien-he/" class="">Liên hệ </a> 
                  
                 
                </li>
                </ul>
               
          
            </div>
           </div>
          
           <div class="cell-1-5">
              <a href="#" class="btn btn-dangkytuvan"> Đăng ký nhận tư vấn  <i class="fas fa-long-arrow-right"></i></a>
           </div>
           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
              <div class="cell-1-3">
                <div class="cart">
                  <a href="#"> <span class="cartnumber">20</span>   <img src="/images/shoppingbag.png" alt=""></a>   
              </div>
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script type="text/javascript">
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
    </div>

    </header>
    <!-- content -->
    <div class="content">

          <!-- slideshow -->
          <div class="swiper-container" id="slide_home">
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <d  iv class="slidehome">
                  <img class="hide-on-mobile" src="/uploaded/slideshow/item1.jpg" alt="" style="width: 100%" />
                  
                  
              </div>
            
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <script>
              $(function () {
                var swiper_slide_home = new Swiper("#slide_home", {
                  loop: true,
                  slidesPerView: 1,
                  autoplay: {
                    simulateTouch: true,
                    delay: 5000000,
                    disableOnInteraction: false,
                  },
                  spaceBetween: 0,
                  // navigation: {
                  //   nextEl: ".swiper-button-next",
                  //   prevEl: ".swiper-button-prev",
                  // },
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  speed: 500,
                  spaceBetween: 0,
                });
    
                $("#slide_home").on("mouseover", function () {
                  swiper_slide_home.autoplay.stop();
                });
                $("#slide_home").on("mouseout", function () {
                  swiper_slide_home.autoplay.start();
                });
              });
            </script>
          </div>
          <!-- end slideshow -->
          <div class="homeservice-hot">
              <div class="c30"></div>
              <div class="c20"></div>
              <div class="grid">
                <div class="flex-container flex-space-between">
                    <div class="cell-1-2 tab-cell-1-1">
                      <h2 class="homecat-title">
                          Việc làm nổi bật
                      </h2>
                    </div>
                    <div class="cell-1-2 tab-cell-1-1">
                        <div class="homecat-intro">
                          CEMA.,JSC cung cấp đa dạng các cơ hội việc làm cho người lao động Việt Nam. Các thông báo tuyển dụng mới luôn được cập nhật mới nhất tại website chính thức của chúng tôi!
                        </div>
                    </div>
                </div>  
                
                <div class="c30"></div>
                <div class="c20"></div>
                <div class="swiper swiper-container swiper-servicehot">

                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
          
                    
                        
                      <div class="servicehot-content">
                        <div class="flex-container align-center flex-space-between">
                            <div class="cell-1-3">
                              <img width="50px" src="/uploaded/ico/hanquoc.png" alt="">
                            </div>
                            <div class="cell-2-3">
                                <div class="createdate">
                                    Ngày tuyển: 13/03/2023
                                </div>
                            </div>
                          </div>
                        <h2 class="servicehot-name text-line-2">
                            <a href="#">Tuyển sinh du học Đài loan 2023 – kỳ tháng 9</a>
                        </h2>
                        <div class="servicehot-intro text-line-2">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                      </div>
                      <div class="img-shine">
                        <img src="/uploaded/san-pham/item2.jpg" height="160px" style="object-fit: cover;" width="100%" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
          
                    
                        
                      <div class="servicehot-content">
                        <div class="flex-container align-center flex-space-between">
                            <div class="cell-1-3">
                              <img width="50px" src="/uploaded/ico/nhatban.png" alt="">
                            </div>
                            <div class="cell-2-3">
                                <div class="createdate">
                                    Ngày tuyển: 13/03/2023
                                </div>
                            </div>
                          </div>
                        <h2 class="servicehot-name text-line-2">
                            <a href="#">Tuyển sinh du học Đài loan 2023 – kỳ tháng 9</a>
                        </h2>
                        <div class="servicehot-intro text-line-2">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                      </div>
                      <div class="img-shine">
                        <img src="/uploaded/san-pham/item3.jpg" height="160px" style="object-fit: cover;" width="100%" alt="">
                      </div>
                    </div>

                    <div class="swiper-slide">
          
                    
                        
                      <div class="servicehot-content">
                        <div class="flex-container align-center flex-space-between">
                            <div class="cell-1-3">
                              <img width="50px" src="/uploaded/ico/dailoan.png" alt="">
                            </div>
                            <div class="cell-2-3">
                                <div class="createdate">
                                    Ngày tuyển: 13/03/2023
                                </div>
                            </div>
                          </div>
                        <h2 class="servicehot-name text-line-2">
                            <a href="#">Tuyển sinh du học Đài loan 2023 – kỳ tháng 9</a>
                        </h2>
                        <div class="servicehot-intro text-line-2">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                      </div>
                      <div class="img-shine">
                        <img src="/uploaded/san-pham/item4.jpg" height="160px" style="object-fit: cover;" width="100%" alt="">
                      </div>
                    </div>   <div class="swiper-slide">
          
                    
                        
                      <div class="servicehot-content">
                        <div class="flex-container align-center flex-space-between">
                            <div class="cell-1-3">
                              <img width="50px" src="/uploaded/ico/dailoan.png" alt="">
                            </div>
                            <div class="cell-2-3">
                                <div class="createdate">
                                    Ngày tuyển: 13/03/2023
                                </div>
                            </div>
                          </div>
                        <h2 class="servicehot-name text-line-2">
                            <a href="#">Tuyển sinh du học Đài loan 2023 – kỳ tháng 9</a>
                        </h2>
                        <div class="servicehot-intro text-line-2">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                      </div>
                      <div class="img-shine">
                        <img src="/uploaded/san-pham/item5.jpg" height="160px" style="object-fit: cover;" width="100%" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
          
                    
                        
                      <div class="servicehot-content">
                        <div class="flex-container align-center flex-space-between">
                            <div class="cell-1-3">
                              <img width="50px" src="/uploaded/ico/dailoan.png" alt="">
                            </div>
                            <div class="cell-2-3">
                                <div class="createdate">
                                    Ngày tuyển: 13/03/2023
                                </div>
                            </div>
                          </div>
                        <h2 class="servicehot-name text-line-2">
                            <a href="#">Tuyển sinh du học Đài loan 2023 – kỳ tháng 9</a>
                        </h2>
                        <div class="servicehot-intro text-line-2">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                      </div>
                      <div class="img-shine">
                        <img src="/uploaded/san-pham/item6.jpg" height="160px" style="object-fit: cover;" width="100%" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="c20"></div>
                  <div class="c30"></div>
                </div>
                <script>
                  var swiper_album = new Swiper(".swiper-servicehot", {
                    slidesPerView: 4.3,
                    spaceBetween: 30,
                    loop: true,
                    autoplay: {
                      delay: 3000,
                      disableOnInteraction: false,
                    },				
                
                    breakpoints: {
                      640: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                      },
                      768: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                      },
                      1024: {
                        slidesPerView: 4.4,
                        spaceBetween: 30,
                      },
                    }
                  });
                </script>
              </div>
          </div>
          <div class="homeinfo-wrapper">
              <div class="c30"></div>
              <div class="c20"></div>
                <div class="grid">
                    <div class="flex-container align-center">
                        <div class="cell-1-2 tab-cell-1-1">
                            <h2 class="homecat-title">
                              CEMA - EXIMCO., JSC đã duy trì hoạt động vững mạnh và uy tín trong hơn 15 năm kể từ bắt đầu.
                            </h2>
                            <div class="c10"></div>
                            <p>CEMA & EXIMCO., JSC hiện là đơn vị có lượng Kỹ sư, Thực tập sinh, Công nhân lao động có chất lượng cao, tay nghề và thái độ tốt, đặc biệt là tại hai thị trường lớn như Nhật Bản và Đài Loan. Tính đến nay, đã có trên 4000 người Việt Nam trở thành lượng lao động chính ở cả hai quốc gia này thông qua sự phái cử của CEMA (EXIMCO)</p>
                        </div>
                   
                    <div class="cell-1-2 tab-cell-1-1">
                      <div class="swiper-container  swiper mySwiper" id="swiper-infor">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item-info">
                                
                                    <div class="info-img">
                                        <img  src="/uploaded/gioi-thieu/item1.jpg" alt="#" width="100%" />
                                    </div>
                                </div>
    
                            </div>
                            <div class="swiper-slide">
                              <div class="item-info">
                              
                                  <div class="info-img">
                                      <img  src="/uploaded/gioi-thieu/item2.jpg" alt="#" width="100%" />
                                  </div>
                              </div>
  
                          </div>
                          <div class="swiper-slide">
                            <div class="item-info">
                            
                                <div class="info-img">
                                    <img  src="/uploaded/gioi-thieu/item3.png" alt="#" width="100%" />
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                          <div class="item-info">
                          
                              <div class="info-img">
                                  <img  src="/uploaded/gioi-thieu/item4.jpg" alt="#" width="100%" />
                              </div>
                          </div>

                      </div>
                          </div>
                        </div>
                        <div class="swiper-container swiper" id="swiperinfo-thumb">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <img height="80px" width="100%" style="object-fit:cover"  src="/uploaded/gioi-thieu/item1.jpg" alt="#" width="100%" />
                              </div>
                              <div class="swiper-slide">
                                <img height="80px" width="100%" style="object-fit:cover"  src="/uploaded/gioi-thieu/item2.jpg" alt="#" width="100%" />
                            </div>
                            <div class="swiper-slide">
                              <img height="80px" width="100%" style="object-fit:cover"  src="/uploaded/gioi-thieu/item7.jpg" alt="#" width="100%" />
                          </div>
                          <div class="swiper-slide">
                            <img height="80px" width="100%" style="object-fit:cover"  src="/uploaded/gioi-thieu/item4.jpg" alt="#" width="100%" />
                        </div>
                        <div class="swiper-slide">
                          <img height="80px" width="100%" style="object-fit:cover"  src="/uploaded/gioi-thieu/item5.jpg" alt="#" width="100%" />
                      </div>
                          </div>
                        </div>


                    </div>
                </div>
              <div class="c20"></div>
              <div class="c20"></div>
              <script>
                var swiper = new Swiper("#swiperinfo-thumb", {
                    spaceBetween: 15,
                    freeMode: true,
                    watchSlidesProgress: true,
                    slidesPerView: 5,
                   
                });
                var swiper2 = new Swiper("#swiper-infor", {
                    spaceBetween: 10,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    thumbs: {
                        swiper: swiper,
                    },
                });
            </script>
          </div>
          <div class="homenews-wrapper">
            <div class="c30"></div>
            <div class="c20"></div>
            <div class="grid">
                <div class="flex-container" style="position: relative;">  
                    <div class="cell-3-4 tab-cell-1-1">
                       <div class="flex-container">
                          <div class="cell-1-2 tab-cell-1-1">
                            <div class="homecat-title">
                              Tin tức sự kiện mới nhất
                            </div>
                            <div class="c20"></div>
                            <div class="flex-container">
                              <div class="cell-1-2">
                                  <div class="homenew-item">
                                      <a href="#" class="img-shine">
                                        <img src="/uploaded/tin-tuc/item1.jpg" alt="">
                                      </a>
                                      <div class="homenew-item--name">
                                          <a href="#" class="text-line-2">
                                            Hình ảnh tuyển nữ nông nghiệp đài loan
                                          </a>
                                      </div>
                                      <div class="text-line-4 homenew-item--intro">
                                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptate, nulla laboriosam et vitae quam hic veniam aliquam corrupti tenetur possimus rem quia dolorum explicabo delectus numquam exercitationem alias soluta?
                                      </div>
                                  </div>

                                  
                              </div>
                              <div class="cell-1-2">
                                <div class="homenew-item">
                                    <a href="#" class="img-shine">
                                      <img src="/uploaded/tin-tuc/item2.jpg" alt="">
                                    </a>
                                    <div class="homenew-item--name">
                                        <a href="#" class="text-line-2">
                                          Hình ảnh tuyển nữ nông nghiệp đài loan
                                        </a>
                                    </div>
                                    <div class="text-line-4 homenew-item--intro">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptate, nulla laboriosam et vitae quam hic veniam aliquam corrupti tenetur possimus rem quia dolorum explicabo delectus numquam exercitationem alias soluta?
                                    </div>
                                </div>

                                
                            </div>
                            <div class="cell-1-2">
                              <div class="homenew-item">
                                  <a href="#" class="img-shine">
                                    <img src="/uploaded/tin-tuc/item3.jpg" alt="">
                                  </a>
                                  <div class="homenew-item--name">
                                      <a href="#" class="text-line-2">
                                        Hình ảnh tuyển nữ nông nghiệp đài loan
                                      </a>
                                  </div>
                                  <div class="text-line-4 homenew-item--intro">
                                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptate, nulla laboriosam et vitae quam hic veniam aliquam corrupti tenetur possimus rem quia dolorum explicabo delectus numquam exercitationem alias soluta?
                                  </div>
                              </div>

                              
                          </div>
                          <div class="cell-1-2">
                            <div class="homenew-item">
                                <a href="#" class="img-shine">
                                  <img src="/uploaded/tin-tuc/item2.jpg" alt="">
                                </a>
                                <div class="homenew-item--name">
                                    <a href="#" class="text-line-2">
                                      Hình ảnh tuyển nữ nông nghiệp đài loan
                                    </a>
                                </div>
                                <div class="text-line-4 homenew-item--intro">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptate, nulla laboriosam et vitae quam hic veniam aliquam corrupti tenetur possimus rem quia dolorum explicabo delectus numquam exercitationem alias soluta?
                                </div>
                            </div>

                            
                          </div>
                        </div>
                          </div>
                          <div class="cell-1-2 tab-cell-1-1">
                            <div class="homecat-title">
                              Việc làm mới nhất
                            </div>
                            <div class="c20"></div>
                            <div class="homevieclam-list">
                              <div class="homevieclam-item">
                                <div class="flex-container">
                                  <div class="cell-1-4 tab-cell-1-3">
                                      <a href="#" class="img-shine">  <img  src="/uploaded/tin-tuc/item1.jpg" alt=""></a>
                                  </div>
                                  <div class="cell-3-4 tab-cell-2-3 homevieclam-content">
                                      <div class="flex-container flex-space-between">
                                          <img width="30px" height="20px" src="/uploaded/ico/dailoan.png" alt="">
                                          <div class="homevieclam-date">
                                              Kỳ t9/2023
                                          </div>
                                          <div class="homevieclam-item--name text-line-1">
                                             <a href="#"></a>
                                             Lorem ipsum dolor, sit amet elit alias ipsam ipsum dolor, sit amet,
                                          </div>
                                          <div class="homevieclam-item--intro text-line-2">
                                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit assumenda sed praesentium 
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <div class="homevieclam-item">
                                <div class="flex-container">
                                <div class="cell-1-4 tab-cell-1-3">
                                    <a href="#" class="img-shine">  <img  src="/uploaded/tin-tuc/item1.jpg" alt=""></a>
                                </div>
                                <div class="cell-3-4 tab-cell-2-3 homevieclam-content">
                                    <div class="flex-container flex-space-between">
                                        <img width="30px" height="20px" src="/uploaded/ico/dailoan.png" alt="">
                                        <div class="homevieclam-date">
                                            Kỳ t9/2023
                                        </div>
                                        <div class="homevieclam-item--name text-line-1">
                                           <a href="#"></a>
                                           Lorem ipsum dolor, sit amet elit alias ipsam ipsum dolor, sit amet,
                                        </div>
                                        <div class="homevieclam-item--intro text-line-2">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit assumenda sed praesentium 
                                        </div>
                                    </div>
                                </div>
                            </div>
                              </div>
                              <div class="homevieclam-item">
                                <div class="flex-container">
                                <div class="cell-1-4 tab-cell-1-3">
                                    <a href="#" class="img-shine">  <img  src="/uploaded/tin-tuc/item1.jpg" alt=""></a>
                                </div>
                                <div class="cell-3-4 tab-cell-2-3 homevieclam-content">
                                    <div class="flex-container flex-space-between">
                                        <img width="30px" height="20px" src="/uploaded/ico/dailoan.png" alt="">
                                        <div class="homevieclam-date">
                                            Kỳ t9/2023
                                        </div>
                                        <div class="homevieclam-item--name text-line-1">
                                          <a href="#"></a>
                                          Lorem ipsum dolor, sit amet elit alias ipsam ipsum dolor, sit amet,
                                        </div>
                                        <div class="homevieclam-item--intro text-line-2">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit assumenda sed praesentium 
                                        </div>
                                    </div>
                                </div>
                            </div>
                              </div>
                              <div class="homevieclam-item">
                              <div class="flex-container">
                                    <div class="cell-1-4 tab-cell-1-3">
                                        <a href="#" class="img-shine">  <img  src="/uploaded/tin-tuc/item1.jpg" alt=""></a>
                                    </div>
                                    <div class="cell-3-4 tab-cell-2-3 homevieclam-content">
                                        <div class="flex-container flex-space-between">
                                            <img width="30px" height="20px" src="/uploaded/ico/dailoan.png" alt="">
                                            <div class="homevieclam-date">
                                                Kỳ t9/2023
                                            </div>
                                            <div class="homevieclam-item--name text-line-1">
                                              <a href="#"></a>
                                              Lorem ipsum dolor, sit amet elit alias ipsam ipsum dolor, sit amet,
                                            </div>
                                            <div class="homevieclam-item--intro text-line-2">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit assumenda sed praesentium 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="homevieclam-item">
                                <div class="flex-container">
                                      <div class="cell-1-4 tab-cell-1-3">
                                          <a href="#" class="img-shine">  <img  src="/uploaded/tin-tuc/item1.jpg" alt=""></a>
                                      </div>
                                      <div class="cell-3-4 tab-cell-2-3 homevieclam-content">
                                          <div class="flex-container flex-space-between">
                                              <img width="30px" height="20px" src="/uploaded/ico/dailoan.png" alt="">
                                              <div class="homevieclam-date">
                                                  Kỳ t9/2023
                                              </div>
                                              <div class="homevieclam-item--name text-line-1">
                                                <a href="#"></a>
                                                Lorem ipsum dolor, sit amet elit alias ipsam ipsum dolor, sit amet,
                                              </div>
                                              <div class="homevieclam-item--intro text-line-2">
                                                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit assumenda sed praesentium 
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </div> <div class="homevieclam-item">
                                  <div class="flex-container">
                                        <div class="cell-1-4 tab-cell-1-3">
                                            <a href="#" class="img-shine">  <img  src="/uploaded/tin-tuc/item1.jpg" alt=""></a>
                                        </div>
                                        <div class="cell-3-4 tab-cell-2-3 homevieclam-content">
                                            <div class="flex-container flex-space-between">
                                                <img width="30px" height="20px" src="/uploaded/ico/dailoan.png" alt="">
                                                <div class="homevieclam-date">
                                                    Kỳ t9/2023
                                                </div>
                                                <div class="homevieclam-item--name text-line-1">
                                                  <a href="#"></a>
                                                  Lorem ipsum dolor, sit amet elit alias ipsam ipsum dolor, sit amet,
                                                </div>
                                                <div class="homevieclam-item--intro text-line-2">
                                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit assumenda sed praesentium 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                       </div>
                        <div class="c30"></div>
                          <div class="homeaticle-wrapper">
                            <div class="flex-container">
                                <div class="cell-1-2 tab-cell-1-1">
                                    <div class="homeaticle-item">
                                        <a href="#" class="img-shine">
                                            <img height="300px" src="/uploaded/tin-tuc/item1.jpg" alt="">
                                        </a>
                                        <div class="c10"></div>
                                        <div class="creatby">
                                            Đăng bởi: admin
                                        </div>
                                        
                                        <div class="homeaticle-item--name text-line-1">
                                          Ipsa sed facere accusamus debitis sapiente tempore minima veniam deleniti magnam.
                                        </div>
                                    </div>
                                    
                                </div>  
                                <div class="cell-1-2 tab-cell-1-1">
                                  <div class="homeaticle-item">
                                      <a href="#" class="img-shine">
                                          <img height="300px" src="/uploaded/tin-tuc/item2.jpg" alt="">
                                      </a>
                                      <div class="c10"></div>
                                      <div class="creatby">
                                          Đăng bởi: admin
                                      </div>
                                      
                                      <div class="homeaticle-item--name text-line-1">
                                        Ipsa sed facere accusamus debitis sapiente tempore minima veniam deleniti magnam.
                                      </div>
                                  </div>
                                  
                              </div>  
                              <div class="cell-1-2 tab-cell-1-1">
                                <div class="homeaticle-item">
                                    <a href="#" class="img-shine">
                                        <img height="300px" src="/uploaded/tin-tuc/item3.jpg" alt="">
                                    </a>
                                    <div class="c10"></div>
                                    <div class="creatby">
                                        Đăng bởi: admin
                                    </div>
                                    
                                    <div class="homeaticle-item--name text-line-1">
                                      Ipsa sed facere accusamus debitis sapiente tempore minima veniam deleniti magnam.
                                    </div>
                                </div>
                                
                            </div>  
                            <div class="cell-1-2 tab-cell-1-1">
                              <div class="homeaticle-item">
                                  <a href="#" class="img-shine">
                                      <img height="300px" src="/uploaded/tin-tuc/item2.jpg" alt="">
                                  </a>
                                  <div class="c10"></div>
                                  <div class="creatby">
                                      Đăng bởi: admin
                                  </div>
                                  
                                  <div class="homeaticle-item--name text-line-1">
                                    Ipsa sed facere accusamus debitis sapiente tempore minima veniam deleniti magnam.
                                  </div>
                              </div>
                              
                          </div>  

                            </div>
                          </div>
                       
                    </div>
                    <div class="cell-1-4 tab-cell-1-1 cell-sticky">
                      <div class="homebooking-item">
                        <form action="/index4.php?page=contact&amp;lang=" method="post" class="frmSubmit" id="regform2" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/">
                            <input type="hidden" name="code" value="save">     
                            
                            <div class="form_booking">
                              <div class="homecat-title text-center">
                                Đăng ký nhận tư vấn
                              </div>
                                <div class="c20"></div>
                                <div class="intro">
                                  Bạn chưa tìm được đơn hàng phù hợp? Hãy để chúng tôi tư vấn cho bạn bằng cách gửi thông tin liên hệ ngay bây giờ.
                                </div>
                                <div class="c10"></div>
                                <div class="flex-container">
                                    <div class="cell-1-1 tab-cell-1-1">
                                         <label for="#"> Họ tên người ứng tuyển</label>
                                        <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên người ứng tuyển*">
                                    </div> 
                                    <div class="cell-1-1 tab-cell-1-1">
                                      <label for="#"> Số điện thoại</label>
                                        <input name="phone" type="text" class="txt-contact notNull" placeholder="Số điện thoại*">
                                    </div>
                                    <div class="cell-1-1 tab-cell-1-1">
                                      <div class="search-item">
                                        <label for="#"> Quốc gia</label>
                                        <select name="ct" id="country" class="txt-contact ">
                                            <option value=""> Quốc gia</option>
                                            <option value="1">Nhật Bản</option><option value="2">Hàn Quốc</option>
            
                                        </select>
                                       
                                    </div>
                                    </div>
                                  
                                    <div class="cell-1-1 tab-cell-1-1">
                                      <input name="input" type="button" onclick="$('#regform2').submit()" class="btn-dangky" value="Gửi thông tin">
                                    </div>
                     
                                    
                                  </div>
                                </div>
                                
                            </div>
    
                        </form>
    
    
    
                    </div>
                    </div>
                </div>
            </div>
            <div class="c30"></div>
            <div class="c20"></div>
          </div>
        
          <div class="homeprogram-wrapper">
              <div class="c30"></div>
              <div class="c20"></div>
                <div class="grid">
                    <div class="homecat-title">
                        Chương trình và dịch vụ
                    </div>
                    <div class="c20"></div>
                    <div class="flex-container">
                        <div class="cell-1-4 tab-cell-1-1">
                          <div class="homeprogram-item">
                              <img src="/uploaded/ico/fly.svg" alt="">
                              <div class="homeprogram--name">
                                Xuất khẩu lao động Đài Loan
                              </div>
                              <div class="text-line-4 homeprogram--intro">
                                Đài Loan hiện nay vẫn là thị trường đứng thứ 2 về số lượng lao động Việt Nam sang làm việc. Với mức thu nhập hàng tháng từ 22 triệu đồng trở lên...
                              </div>
                              <div class="btn btn-xemthem">
                                  <a href="#"> Xem thêm</a>
                              </div>
                          </div>
                        </div>
                        <div class="cell-1-4 tab-cell-1-1">
                          <div class="homeprogram-item">
                              <img src="/uploaded/ico/bag.svg" alt="">
                              <div class="homeprogram--name">
                                Xuất khẩu lao động Đài Loan
                              </div>
                              <div class="text-line-4 homeprogram--intro">
                                Đài Loan hiện nay vẫn là thị trường đứng thứ 2 về số lượng lao động Việt Nam sang làm việc. Với mức thu nhập hàng tháng từ 22 triệu đồng trở lên...
                              </div>
                              <div class="btn btn-xemthem">
                                  <a href="#"> Xem thêm</a>
                              </div>
                          </div>
                        </div>
                        <div class="cell-1-4 tab-cell-1-1">
                          <div class="homeprogram-item">
                              <img src="/uploaded/ico/user.svg" alt="">
                              <div class="homeprogram--name">
                                Xuất khẩu lao động Đài Loan
                              </div>
                              <div class="text-line-4 homeprogram--intro">
                                Đài Loan hiện nay vẫn là thị trường đứng thứ 2 về số lượng lao động Việt Nam sang làm việc. Với mức thu nhập hàng tháng từ 22 triệu đồng trở lên...
                              </div>
                              <div class="btn btn-xemthem">
                                  <a href="#"> Xem thêm</a>
                              </div>
                          </div>
                        </div>
                        <div class="cell-1-4 tab-cell-1-1">
                          <div class="homeprogram-item">
                              <img src="/uploaded/ico/gaducation.svg" alt="">
                              <div class="homeprogram--name">
                                Xuất khẩu lao động Đài Loan
                              </div>
                              <div class="text-line-4 homeprogram--intro">
                                Đài Loan hiện nay vẫn là thị trường đứng thứ 2 về số lượng lao động Việt Nam sang làm việc. Với mức thu nhập hàng tháng từ 22 triệu đồng trở lên...
                              </div>
                              <div class="btn btn-xemthem">
                                  <a href="#"> Xem thêm</a>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="c30"></div>
                    <div class="flex-container">
                        <div class="cell-1-3 tab-cell-1-1">
                            <div class="homeblog--item">
                                <div class="homeblog--name">
                                  Đăng ký việc làm trước khi nộp hồ sơ
                                </div>
                                <div class="c5"></div>
                                <div class="homeblog--intro text-line-4">
                                  Bạn muốn lựa chọn đơn hàng trước khi nộp hồ sơ tham gia? Hãy để chúng tôi tư vấn đơn hàng cho bạn bằng cách điền thông tin vào mẫu ngay bây giờ.
                                </div>
                                <div class="c5"></div>
                                <div class="dangky">
                                    <a href="#"> Đăng ký ngay <i class="fa-solid fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="cell-1-3 tab-cell-1-1">
                          <div class="homeblog--item">
                              <div class="homeblog--name">
                                Đăng ký việc làm trước khi nộp hồ sơ
                              </div>
                              <div class="c5"></div>
                              <div class="homeblog--intro text-line-4">
                                Bạn muốn lựa chọn đơn hàng trước khi nộp hồ sơ tham gia? Hãy để chúng tôi tư vấn đơn hàng cho bạn bằng cách điền thông tin vào mẫu ngay bây giờ.
                              </div>
                              <div class="c5"></div>
                              <div class="dangky">
                                  <a href="#"> Đăng ký ngay <i class="fa-solid fa-angle-right"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="cell-1-3 tab-cell-1-1">
                        <div class="homeblog--item">
                            <div class="homeblog--name">
                              Đăng ký việc làm trước khi nộp hồ sơ
                            </div>
                            <div class="c5"></div>
                            <div class="homeblog--intro text-line-4">
                              Bạn muốn lựa chọn đơn hàng trước khi nộp hồ sơ tham gia? Hãy để chúng tôi tư vấn đơn hàng cho bạn bằng cách điền thông tin vào mẫu ngay bây giờ.
                            </div>
                            <div class="c5"></div>
                            <div class="dangky">
                                <a href="#"> Đăng ký ngay <i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
              <div class="c30"></div>
              <div class="c20"></div>
          </div>
    </div>
    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="cell-1-1">
        <div class="topfooter">
          <div class="c30"></div>
          <div class="c20"></div>
            <div class="grid">
                <div class="flex-container flex-centered">
                    <div class="cell-1-1">
                      <div class="topfooter-title ">
                        Bạn chưa tìm được đơn hàng phù hợp? Hãy để chúng tôi tư vấn cho bạn bằng cách gửi thông tin liên hệ ngay bây giờ.
                      </div>
                      <div class="c30"></div>
                      <a class="btn-dangkynhantuvan">
                            Đăng ký nhận tư vấn <i class="fa-sharp fa-solid fa-arrow-right"></i>
                      </a>
                    </div>
                </div>
            </div>
            <div class="c30"></div>
            <div class="c20"></div>
        </div>
      
        <div class="c30"></div>
        <div class="c20"></div>
    </div>
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
           
            
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">

                <div class="c20"></div>
                <div class="footer-title footer-title-mobile" rel="ct">
                  Liên hệ với chúng tôi
                </div>
                <div class="info">       
                  Trụ sở chính CEMA & EXIMCO
                  </div>
                  <div class="info">
                    Số 9 M5 TT6, Bắc Linh Đàm, Đại Kim, Hoàng Mai, Hà Nội
                 </div>
                  <div class="info">
                 
                    0243 8595 666 / 0912 171 090
  
                    
                  </div>
                 
                  <div class="info">
                     Trung tâm Nhật Bản CEMA
                  </div>
                  <div class="info">
                    Tầng 5, Số 12, ngõ 111 Phan Trọng Tuệ, Văn Điển, Thanh Trì, Hà Nội
                  </div>
                  <div class="info">
                    024 3681 6470
                  </div>
              </div>
              
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  CEMA GROUP
                </div>             
                <ul class="menuboxfooter" id="">
                  <li><a href="">   Giới thiệu</a></li>
                  <li><a href=""> Hỏi đáp</a></li>
                  <li><a href=""> Trung tâm hỗ trợ</a></li>
                  <li><a href=""> Liên hệ</a></li>
                  
                 
                </ul>
              </div>
              
            </div>

         



            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Chương trình & Dịch vụ
                </div>             
                <ul class="menuboxfooter" id="">
                  <li><a href="">   Đài Loan</a></li>
                  <li><a href=""> Nhật Bản </a></li>
                  <li><a href="">Hàn Quốc</a></li>
                 
                </ul>
              </div>
              
            </div>
           
            <div class="cell-1-4 tab-cell-1-1">
            <div class="footer-title footer-title-mobile" rel="ct">
            Đài Loan
              
           </div>
           <ul class="menuboxfooter" id="">
            <li><a href="">  Công xưởng
             </a></li>
            <li><a href="">Hộ lý
            </a></li>
            <li><a href="">Thợ hàn</a></li>
         
            
           
          </ul>
          
        </ul>
          <div class="c20"></div>
      
          </div>
        </div>
        </div>
      </div>
 
        
      <div class="footer-end">
          
            <div class="flex-container flex-flex-start align-center">
              <div class="cell-1-1">
                  <div class="coppy-right">
                    © Coppy-right 2023. All Rights Reserved.
                  </div>
              </div>
          
           
            </div>
          </div>
      
     

    </footer>
    <!-- end footer -->
          </div>

</div>
  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />
  <div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> <span>Back to top</span></a>
</div>

 

  
</body>

</html>
